{% extends 'base.html' %}
<!---------->
{% block 'title' %}About Us{% endblock %}
<!---------->
{% block 'content' %}
<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">About Me</h1>
  <p class="text-gray-700 text-md mt-2 mb-4">
    Hi, I'm Saadaoui Salah, a web developer. I started this blog to share my
    knowledge and experiences with you. I hope to inspire, inform, and entertain
    you through my posts. Thanks for joining me on this journey!
  </p>
  <h2 class="text-xl font-bold mb-4">My Story</h2>
  <p class="text-gray-700 text-md mt-2 mb-4">
    I'm the person behind this blog. I've always been passionate about tech &
    development, and I started this blog as a way to share my knowledge and
    experiences with others who share the same passion.
    <br />
    I first became interested in IT when I was 18, and since then, I've been
    reading and learning everything I can about it. Over the years, I've gained
    a lot of knowledge and experience. <br />
    Through this blog, I hope to share my knowledge and my experience. I want to
    provide blogs about IT.
    <br />
    Thank you for taking the time to read my story, and I hope you enjoy reading
    my blog as much as I enjoy creating it!
  </p>
  <h2 class="text-xl font-bold mb-4">My Mission</h2>
  <p class="text-gray-700 text-md mt-2 mb-4">
    At ITify, our mission is to simplify the world of web development and
    security. We understand that these topics can be complex and intimidating,
    especially for beginners. That's why we strive to provide clear and concise
    information that is easy to understand and apply.
    <br />
    We believe that everyone should have access to the knowledge and tools
    necessary to create secure and functional websites. Our goal is to empower
    our readers with the skills they need to build successful online businesses,
    secure their websites from cyber threats, and stay up-to-date with the
    latest web technologies.
  </p>
</div>
{% endblock %}
